body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  border-block: 10px solid green; 
  font-size: 5rem;
  text-align: center;
}

footer {
  text-align: right;
  color: rgb(57, 147, 221);
}

.tile-image {
  float: left;
  height: 225px;
  margin-right: 20px
}

.card {
  width: 40%;
}

.left {
  float: left;
}

.right {
  float: right;
}

span.creative {
  color: green;
  font-style: italic;
  font-family: cursive,"Poppins";
}

.logo {
  width: 100px;
}

@media (min-width: 681px) and (max-width: 1400px) {
  .card > div {
    max-width: 444px;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  .tile-image {
    width: 100%;
    margin: 20px 0px;
    object-fit: cover;
  }

  h2 {
    margin-top: 10px;
  }

  .card {
    width: 100%;
    margin: 5px;
  }
}


