h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

.poster {
    width: 40%;
    margin: 0% 30%;
    margin-top: 10px;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    color: white;
}

.forest-img {
    width: 100%;
    margin-top: 10%;
    border: 2px solid white;
}

